places
auto-save-list/*
*.elc
elpa/*
/tramp
/.org-id-locations
completions
session.*
\#*
*~
/url/cookies
/anything-c-adaptive-history
/.smex-items
/el-get/
/history
/bookmarks
/eshell/history
/eshell/lastdir
